body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}
.btn{
    background-color: #fe424d !important;
    border: none !important;
}
.btn:hover{
    opacity: 0.85;
}

/* navbar */
#navbarNavAltMarkup{
    background-color: white;
}
.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: #fe424d;
    font-size: 1.6rem;
    margin-left: 20px;
    letter-spacing: 2px;
}

.nav-link {
    font-size: 1.2rem !important;
    margin-left: 20px;
    color: black !important;
}

/* footer */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 10px 0px;
    background-color: #fbfbfb;
    border-top: 1px solid rgb(199, 199, 199);
}
footer div{
    margin: 5px 0px;
}
.fa-brands{
    font-size: 1.5rem;
    margin: 0px 5px;
}
#f-links a {
    margin: 0 5px;
    text-decoration: none;
    font-size: 1.1rem;
}

#f-links a:hover {
    text-decoration: underline;
}

/* all listings container */
h1, h2{
    margin: 20px 0px !important;
}
#listing-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8px;
    grid-auto-rows: 1fr;
}
#listing-container a{
    border: 1px solid rgb(195, 195, 195) !important;
    border-radius: 10px !important;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.card{
    border: none !important;
    border-radius: 10px !important;
    width: 100%;
}
#listing-container a:hover{
    transform: scale(1.01);
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-color: rgb(83, 83, 83) !important;
}
.card-text{
    font-size: 1.1rem;
}
.card-img-top{
    height: 15rem;
    border-radius: 10px 10px 0 0 !important;
    object-fit: cover !important;
}

@media(max-width: 1200px){
    #listing-container{
        grid-template-columns: repeat(3, 1fr);
    }
    .card-img-top{
        height: 16rem;
    }
}
@media(max-width: 991px){
    #listing-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .details{
        flex-direction: column;
    }
}
@media(max-width: 768px){
    .card-img-top{
        height: 14rem;
    }
}
@media(max-width: 520px){
    .card-img-top{
        height: 10rem;
    }
}

/* showOne.ejs */
.details{
    display: flex;
}
.img-cont{
    width: 100%;
}
#showOne img{
    width: 95%;
    max-height: 80vh;
}
#showOne ul{
    margin: 20px 0px;
}
#showOne li{
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}
#showOne form{
    display: inline-block;
    margin: 5px;
}
.delete{
    color: white !important;
    background-color: black !important;
}